.section {
	background-color: black;
	background-image: url("../img/fon.png");
}

.container { 
	width: 975px;
	margin: 0 auto;
}

.logo {
	padding-top: 44px;
}

.menu {
	float: right;
	padding-top: 44px;
}

.menu_sub {
	color: white;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	line-height: 41px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 15px;
}

.welcome {
	color: white;
	font-family: DroidSerif;
	font-size: 40px;
	font-style: italic;
	margin-left: 280px;
	margin-top: 195px;
}

.title {
	color: white;
	font-family: Montserrat;
	font-size: 75px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 20px;
	margin-left: 30px;
	text-align: center;
}

.view {
	width: 240px;
	height: 65px;
	background-color: #fed136 ;
	border-radius: 2px; 
	color: white;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 50px;
	margin-left: 380px;
	margin-bottom: 150px;
}

.section-title {
	color: #222;
	font-family: Montserrat;
	font-size: 40px;
	font-weight: 700;
	line-height: 75px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 120px;
}

.section-description {
	color: #777;
	font-family: DroidSerif;
	font-size: 16px;
	font-style: italic;
	text-align: center;
}

.services {
	display: inline-block;
	width: 274px;
	height: 187px;
	margin-top: 80px;
	margin-left: 27px;
	text-align: center;
}

.text {
	color: #222;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	line-height: 75px;
}

.text_sub {
	color: #777;
	font-family: RobotoSlab;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 120px;
}