.home {
	background-color: black;
	background-image: url("../img/fon.png");
	background-size: cover;
}

.container { 
	max-width: 975px;
	margin: 0 auto;
}

.logo {
	padding-top: 44px;
}

.menu {
	float: right;
	padding-top: 44px;
}

.menu_sub {
	color: white;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	line-height: 41px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 15px;
}

.menu_sub:hover {
	color:yellow;
}

.content {
	padding-bottom: 160px;
}

.welcome {
	color: white;
	font-size: 40px;
	font-style: italic;
	padding-top: 195px;
	text-align: center;
}

.title {
	color: white;
	font-size: 75px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 50px;
	text-align: center;
}

.view {
	display: block;
	width: 240px;
	height: 65px;
	background-color: #fed136;
	border-radius: 2px; 
	border: none;
	color: white;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
}

.view:hover {
	background: #00BCD4;
	color: #fed136;	
}

.section-title {
	color: #222;
	font-family: Montserrat;
	font-size: 40px;
	font-weight: 700;
	line-height: 75px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 120px;
}

.section-description {
	color: #777;
	font-family: DroidSerif;
	font-size: 16px;
	font-style: italic;
	text-align: center;
}

.row {
	width: 100%;
	padding-top: 77px;
	padding-bottom: 120px;
	font-size: 0;
}

.services {
	display: inline-block;
	width: 31%;
	margin: 10px;
	text-align: center;
}

.text {
	color: #222;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	line-height: 75px;
}

.text_sub {
	color: #777;
	font-family: RobotoSlab;
	font-size: 14px;
	font-weight: 400;
	
}

.portfolio {
	background: #f7f7f7;
	overflow: hidden;
}

.item-box{
	margin-top: 74px;
	margin bottom: 120px;
}
.item {
	background-image: url("../img/background2.jpg");
	width: 290px;
	background-color: white;
	text-align: center;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 50px;
}

.item-title{
	color: #333;
	font-family: 'Montserrat';
	font-size: 18px;
	font-weight: 700;
}

.item-description{
	color: #737373;
	font-family: DroidSerif;
	font-size: 14px;
	font-style: italic;
}

section:after{
	content: " ";
	clear: both; 
	overflow: hidden;
}
	
.box-left {
	width: 54%;
	text-align: right;
	margin: 0px 0px 12px 62px;
}

.box-left-pic {
	height: auto;
	float: right;
	padding-left: 39px;
}

.caption {
	color: #222;
	font-family: 'Montserrat';
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.subtitle {
	color: #222;
	font-family: 'Montserrat';
	font-size: 18px;
	font-weight: 700;
}

.textbox {
	color: #777;
	font-family: RobotoSlab;
	font-size: 14px;
	font-weight: 400;
}

.box-right {
	width: 50%;
	text-align: left;
	margin: 0px 0px 12px 404px;
}

.box-right-pic {
	height: auto;
	float: left;
	padding-right: 39px;
}

.line {
	width: 2px;
	height: 93px;
	background-color: #f1f1f1;
	margin: 0 0 0 51%;
}

.box-left-yellow{
	background-image: url("../img/container11.png");
	width: 182px;
	height: 182px;
	margin: 0px 0px 12px 42%;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
}

.text-yellow-but {
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
	color: white;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	padding-top: 25%;
}

.inputs {
    display: inline-block;
    width: 48%;
    vertical-align: top;
}

.inputs input {
    margin-bottom: 27px;
    height: 52px;
    padding: 0;
}

.textarea-wrapp {
    display: inline-block;
    width: 49%;
    min-height: 211px;
    margin-left: 2%;
}

input, textarea {
    width: 100%;
    text-indent: 21px;
    color: #bbb;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

textarea {
    padding-top: 10px;
    text-indent: 0 !important;
    max-height: 244px;
    height: 210px;
    padding: 20px;
}

.item_wrap {
    display: inline-block;
    padding-top: 76px;
}

.wrap_our_amaz_team {
    text-align: center;
}

.logo_wrap_img {
    display: inline-block;
}

.social_wrapp a {
    display: inline-block;
}

.footer-soc-link {
    display: inline-block;
}

.footer-text-align {
    display: inline-block;
    text-align: center;
    width: 50%;
    vertical-align: middle;
}

.footer-soc {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

.wrap-coc__a {
    margin-left: -17%;
}

.contacts-wrapp {
    background: url("../img/bg-form.png") no-repeat;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.contacts-wrapp .section-title {
    color: white;
}

.contacts-wrapp .section-title {
    color: white;
}

.item_sub {
    float: left;
    text-align: center;
}

.item_h2 {
    color: #222;
    font-size: 16px;
    font-weight: 700;
    line-height: 50px;
}

.item__arketer {
    color: #777;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
}

.proin {
    color: #777;
    font-size: 16px;
    padding: 51px 0 109px 0;
}

.footer-text__copy {
    color: #555;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.wrap-coc-a {
    margin-left: -17%;
}

.footer-soc-twitter {
    background-image: url(../img/tw_black.png);
}

.footer-soc-fb {
    background-image: url(../img/fb_black.png);
}

.footer-soc-p {
    background-image: url(../img/p_black.png);
}

.footer-soc-g {
    background-image: url(../img/g+_black.png);
}

.footer-soc__link {
    display: inline-block;
    width: 42px;
    height: 41px;
}

.social__link {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.social__link_fb {
    width: 41px;
    height: 41px;
    background-position: -5px -5px;
}

.social__link_g {
    width: 41px;
    height: 41px;
    background-position: -56px -5px;
}

.social__link_p {
    width: 41px;
    height: 41px;
    background-position: -5px -56px;
}

.social__link_twitteer {
    width: 41px;
    height: 41px;
    background-position: -56px -56px;
}

.amazing {
    padding: 0 0 61px 0;
}

.contacts-wrapp {
    padding: 0 0 47px 0;
}

footer {
    padding: 20px 0;
    width: 975px;
    margin: 0 auto;
    font-size: 0;
}


.circle {
    width: 234px;
    height: 234px;
    background: #000;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.form-wrapp {
    padding-top: 75px;
}
button, .button {
    width: 240px;
    height: 65px;
    background-color: #fed136;
    border-radius: 2px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.button {
    border: none;
    display: block;
    margin: 0 auto;
}

.button:hover {
	background: #00BCD4;
	color: #fed136;	
}

.clearfix {
	content: " ";
	clear: both; 
	overflow: hidden;
}